body{
    font: 15px Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/* Estilos globales */

.contenedor{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

.boton1{
    height: 38px;
    background: #e8491d;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}

/* Encabezado */

header{
    background: #24282b;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 5px solid #1293d4;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float: left;
    display: inline-block;
    padding: 0 20px 0 20px;
}

header #marca{
    float: left;
}

header #marca h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .resaltado, header .actual a{
    color: #1293d4;
    font-weight: bold;
}

header a:hover{
    color: #ccc;
    font-weight: bold;
}

/* Cabecera con imagen */

#cabecera{
    min-height: 400px;
    background: url('../img/cabecera.jpg') no-repeat 0 -400px;
    text-align: center;
    color: #fff;
}

#cabecera h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#cabecera p{
    font-size: 20px;
    text-align: justify;
}

/* Formulario boletin */

#boletin{
    padding: 15px;
    color: white;
    background: #24282b;
}

#boletin h1{
    float: left;
}

#boletin form{
    float: right;
    margin-top: 15px;
}

#boletin input[type="email"]{
    padding:4px;
    height: 25px;
    width: 250px;
    border-radius: 4px;
}

#boletin button{
    border: none;
    border-radius: 4px;
}

/* Cajas */

#cajas{
    margin-top: 20px;
}

#cajas .caja{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#cajas .caja img{
    width: 90px;
}

/* Footer */

footer{
    padding: 20px;
    margin-top: 20px;
    color: white;
    background: #1293d4;
    text-align: center;
    font-size: 20px;
}







